<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" id="login" formControlName="email" class="fadeIn second" name="login" placeholder="Login"
        required>
      <input type="password" formControlName="password" id="password" class="fadeIn third" name="password"
        placeholder="Password" required>
      <div class="alert alert-danger" *ngIf="badCredentials">Incorrect login or password</div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


  </div>
</div>