.registration-form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .form-header {
    color: black;
    background-color: white;
  
  }
  .form-header .title {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .form-body {
    background-color: white;
  }
  
  .form-group {
    width: 50%;
    padding: 5px 20px;
    box-sizing: border-box;
  }
  
  .btn-group {
    display: inline-flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .btn {
    flex: 1 1 auto;
  }
  
  .btn-submit {
    color: white;
    border: 1px solid green;
    background-color: green;
  }
  
  .btn-cancel {
    color: #9a9a9a;
    border: 1px solid #d9d9d9;
    background-color: white;
    margin-right: 10px;
  }
  
  @media all and (max-width: 600px) {
    .btn {
      width: 100%;
    }
  
    .btn-cancel {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .btn-group {
      width: 100%;
      padding: 0 10px;
    }
  
    .registration-form {
      width: 100%;
    }
  
    .form-group {
      width: 100%;
      padding: 5px 10px;
    }
  }